@model ASP.NET_CORE_BLOG_CMS.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateTimeAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateTimeAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.headerImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.headerImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.textContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.textContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
